<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="FParsec" version="1.0.2" targetFramework="net472" />
  <package id="FParsec-Pipes" version="0.4.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="LicenseToCIL" version="0.3.0" targetFramework="net472" />
  <package id="Rezoom" version="0.4.2" targetFramework="net472" />
  <package id="Rezoom.SQL.Provider" version="0.7.2.40976" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>